<p><b>Section:</b>
<%= @section.name %></p>
		  
<h2>Questions</h2>
<% @section.questions.each do |question| %>
<p>
<b>Question Title:</b>
<%= question.name %> &nbsp;<%= link_to 'View Question', section_question_path(@section, question)%>
</p>
	
<% end %>
<%= link_to 'Ask A New Question', new_section_question_path(@section)%>

