<div class="inner">
	<h1>About Us</h1>
	<p>This site was developed as part of a final year module project. 
		Many Aspects of the site are to be considered from a development point of view.
		Some practices undertaken, may not be production ready in term of security.
		Please bare with us, as our progress develops.</p>
</div>
<br />
<br />
<div class="lower">
		<table width="100%" cellpadding="3" cellspacing="3">
			<tr>
			<th>Development Location:</th>
			<th>Developed By:</th>
			<th>Development Period:</th>
			</tr>
			<tr>
				<td><h6>Ireland</h6></td>
				<td><h6>Andrew Phelan</h6></td>
				<td><h6>February - April 2014</h6></td>
			</tr>
		</table>
</div>
